API_ingestao_LuizSapori_Lab2.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Nome do Data Factory"},"AzureSqlDatabase_SAPORI":{"type":"string"},"AzureDatabricks_SAPORI":{"type":"string"},"AzureBlobStorage123":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/API_ingestao_LuizSapori_Lab2')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"DOC Parquet","type":"Copy","dependsOn":[{"activity":"Editando Dados","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"cotacaoCompra","type":"Double","physicalType":"float"},"sink":{"name":"cotacaoCompra","type":"Double","physicalType":"DOUBLE"}},{"source":{"name":"cotacaoVenda","type":"Double","physicalType":"float"},"sink":{"name":"cotacaoVenda","type":"Double","physicalType":"DOUBLE"}},{"source":{"name":"dataHoraCotacao","type":"DateTime","physicalType":"datetime"},"sink":{"name":"dataHoraCotacao","type":"DateTime","physicalType":"INT_96"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"AzureSqlTable190","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Parquet75","type":"DatasetReference","parameters":{}}]},{"name":"Editando Dados","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Extraindo Dados","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dolar_LUIZ_SAPORI].[DOLAR_STAGE_FINAL]"},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase_SAPORI')]","type":"LinkedServiceReference"}},{"name":"Extraindo Dados","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/luiz.sapori@blueshift.com.br/Lab2 - Luiz Sapori"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks_SAPORI')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"folder":{"name":"LuizSapori"},"annotations":[],"lastPublishTime":"2022-08-02T21:38:36Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/AzureSqlTable190')]","[concat(variables('factoryId'), '/datasets/Parquet75')]"]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable190')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase_SAPORI')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"cotacaoCompra","type":"float","precision":15},{"name":"cotacaoVenda","type":"float","precision":15},{"name":"dataHoraCotacao","type":"datetime","precision":23,"scale":3}],"typeProperties":{"schema":"dolar_LUIZ_SAPORI","table":"FINAL"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Parquet75')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage123')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":"DolarLab2","folderPath":"APILab2","container":"luizsapori"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}