API_ingestao_LuizSapori_Lab1.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Nome do Data Factory"},"AzureSqlDatabase_SAPORI":{"type":"string"},"API Dolar linked service LuizSapori":{"type":"string"},"AzureBlobStorage123":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/API_ingestao_LuizSapori_Lab1')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"API para Banco","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"AzureSqlSink","writeBehavior":"insert","sqlWriterUseTableLock":false},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"cotacaoCompra","type":"String","physicalType":"String"},"sink":{"name":"cotacaoCompra","type":"String","physicalType":"varchar"}},{"source":{"name":"cotacaoVenda","type":"String","physicalType":"String"},"sink":{"name":"cotacaoVenda","type":"String","physicalType":"varchar"}},{"source":{"name":"dataHoraCotacao","type":"String","physicalType":"String"},"sink":{"name":"dataHoraCotacao","type":"String","physicalType":"varchar"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DelimitedText98","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"AzureSqlTable187","type":"DatasetReference","parameters":{}}]},{"name":"SQL to blob Parquet","type":"Copy","dependsOn":[{"activity":"Armazenamento","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"cotacaoCompra","type":"Double","physicalType":"float"},"sink":{"name":"cotacaoCompra","type":"Double","physicalType":"DOUBLE"}},{"source":{"name":"cotacaoVenda","type":"Double","physicalType":"float"},"sink":{"name":"cotacaoVenda","type":"Double","physicalType":"DOUBLE"}},{"source":{"name":"dataHoraCotacao","type":"DateTime","physicalType":"datetime"},"sink":{"name":"dataHoraCotacao","type":"DateTime","physicalType":"INT_96"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"AzureSqlTable188","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Parquet74","type":"DatasetReference","parameters":{}}]},{"name":"Armazenamento","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"API para Banco","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dolar_LUIZ_SAPORI].[DOLAR_STAGE_FINAL]"},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase_SAPORI')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"folder":{"name":"LuizSapori"},"annotations":[],"lastPublishTime":"2022-08-02T21:20:53Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DelimitedText98')]","[concat(variables('factoryId'), '/datasets/AzureSqlTable187')]","[concat(variables('factoryId'), '/datasets/AzureSqlTable188')]","[concat(variables('factoryId'), '/datasets/Parquet74')]"]},{"name":"[concat(parameters('factoryName'), '/DelimitedText98')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('API Dolar linked service LuizSapori')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable187')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase_SAPORI')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"cotacaoCompra","type":"float","precision":15},{"name":"cotacaoVenda","type":"float","precision":15},{"name":"dataHoraCotacao","type":"datetime","precision":23,"scale":3}],"typeProperties":{"schema":"dolar_LUIZ_SAPORI","table":"Stage"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/AzureSqlTable188')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase_SAPORI')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"cotacaoCompra","type":"varchar"},{"name":"cotacaoVenda","type":"varchar"},{"name":"dataHoraCotacao","type":"varchar"}],"typeProperties":{"schema":"dolar_LUIZ_SAPORI","table":"FINAL"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Parquet74')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage123')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":"DOLAR.PARQUET","folderPath":"APiIngest","container":"luizsapori"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}